<div class="drawer-inner">
	<div class="drawer-toolbar clearfix">
		<a class='drawer-odi-logo' href="../index.html"><img class="sidebar-logo" src="adapt/css/assets/learning-150-BW-S.png" alt="Main menu"></a>
		<a href="#" class="drawer-back icon icon-controls-small-left"></a>
		<a href="#" class="drawer-close icon icon-cross">
		</a>
	</div>
	<div class="drawer-holder">
	</div>
	<section id="save-status" class="save-section" style="margin-left: 10px; margin-top: 10px;">
	</section>
</div>
